.h-top {
	width: 100%;
	width: expression(document.body.clientWidth <= 1200 ? "1200" : "auto");
	min-width: 1200px;
	height: 33px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
}

.top {
	width: 1170px;
	margin: 0 auto;
	height: 33px;
}

.welcome {
	line-height: 33px;
	color: #666;
	float: left;
}

.top_one {
	float: right;
	width: 600px;
	text-align: right;
	line-height: 33px;
	color: #666;
}

.t_dl a {
	color: #0066ff;
}

.t_zc a {
	color: #ff3300;
}

.top_two {
	float: right;
	margin-left: 12px;
	width: 90px;
}

.top_two .userinfo {
	width: 125px;
}

.top_two span {
	line-height: 33px;
	float: left;
	display: block;
	width: 72px;
	text-align: center;
}

.top_two span img {
	padding-left: 4px;
	padding-right: 4px
}

span.t_wk .wk_box {
	padding-left: 4px !important;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.wk_list {
	border: solid #ccc 1px;
	width: 170px;
	line-height: 24px;
	position: absolute;
	top: 30px;
	right: -15px;
	z-index: 9998;
	background: #FFF;
	text-align: left;
	padding: 10px;
	display: none;
}

.subnav_border {
	display: none;
	position: absolute;
	left: 240px;
	top: 0px;
	background: #ffffff;
	z-index: 999;
}

.subnav_1 {
	position: relative;
	padding-left: 20px;
	width: 646px;
	height: 478px;
	overflow: hidden;
	padding-bottom: 20px;
	border: solid 1px #ee1e1e;
	border-left: none;
}

.subnav_lc {
	float: left;
	width: 425px;
}

.subnavprovider {
	width: 220px;
	float: right;
}

.subnav_1_top {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 3px;
	width: 100%;
}

.subnav_1_bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 3px;
	width: 100%;
}

.validatecode {
	margin-top: -4px;
	width: 100px;
	height: 30px;
}

.layui-form-item .layui-input-inline {
	width: 250px;
}

span.t_wk {
	position: relative;
	width: 66px;
	text-align: left;
	padding-left: 6px;
	z-index: 9999;
}

span.t_wk a {
	color: #666;
}

span.t_wk .daohang {
	width: 75px;
	height: 31px;
	position: relative;
	padding-left: 5px;
	z-index: 9999;
}

.t_wk ul li a {
	color: #666;
}

span.t_xm a {
	font-weight: bolder;
	color: #ff3300;
	padding-left: 12px;
	width: 60px;
}
.footer
{
    margin-top: 34px;
    border-top: 1px solid #f7f7f7;
    height: 134px;
    text-align: center;
    background: #fff;
}
.footer .fot_nav {padding-top:25px;color:#666}
.footer .fot_nav a{ padding:0 5px 0 5px;color:#666; line-height:24px;}
.footer .fot_nav a:hover{color:#f60;}
.footer .fot_nav p{ line-height:26px;}