<div class="footer">
	<div class="fot_nav">
		<a href="http://www.680.com/About/" target="_blank" title="关于时间财富网">关于我们</a>
		<span>|</span> <a href="http://www.680.com/About/contact.html"
			target="_blank" title="联系方式">联系方式</a> <span>|</span> <a
			href="http://www.680.com/About/ad.html" target="_blank">广告服务</a> <span>|</span>
		<a href="http://news.680.com/" target="_blank">新闻中心</a> <span>|</span>
		<a href="http://help.680.com/view_15.html" target="_blank">发布悬赏须知</a>
		<span>|</span> <a href="http://help.680.com/view_26.html"
			target="_blank">参与项目须知</a> <span>|</span> <a
			href="http://www.680.com/about/join.html" target="_blank">加入我们</a> <span>|</span>
		<a href="http://www.680.com/About/pay.html" target="_blank">付款方式</a> <span>|</span>
		<a href="http://www.680.com/appstore/" target="_blank">时间财富APP</a>
		<p>Copyright 2006-2016 680.com 版权所有 蜀ICP备10008552号-9
			ICP证：川B2-20100121</p>
		<p>服务热线：400-630-6800 028-87858680 合作推广：market@vip.680.com</p>
	</div>
</div>

<script src="${ctx.contextPath}/static/layui/layui.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '${ctx.contextPath}/static/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '${ctx.contextPath}/static/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>