<div class="h-top"> 
    <div class="top">
        <span class="welcome">您好，欢迎来到一站式众包服务平台-<a href="/" title="威客网">时间财富网</a>！</span>
        <div class="top_two">
            <span class="t_wk">
                <ul class="wk_list" style="display: none;">
                    <li style=" font-weight:bold; color:#06F;">客户服务</li>
                    <li>
                        <a href="http://www.680.com/fabu/" target="_blank" title="发布悬赏项目">发布项目</a> 
                        <a href="http://www.680.com/service/" target="_blank" title="客服中心">客服服务中心</a><br>
                        <a href="http://www.680.com/case/" target="_blank" title="威客成功案例">成功案例</a> 
                        <a href="http://shop.680.com/" target="_blank" title="找服务商">找服务商</a> 
                        <a href="http://user.680.com/pay/payin.aspx" target="_blank" rel="nofollow"><font color="#FF6600">充值</font></a>
                    </li>
                    <li style=" font-weight:bold; color:#06F;">威客服务</li>
                    <li>
                        <a href="http://www.680.com/task/" target="_blank" title="悬赏大厅">悬赏大厅</a> 
                        <a href="http://www.680.com/Zhuangxiu/" target="_blank" title="威客项目分类：装修设计,室内设计">装修设计</a><br>
                        <a href="http://shop.680.com/" target="_blank">服务商</a> 
                        <a href="http://union.680.com" target="_blank" title="威客营销推广：威客营销"><font color="#ff3300">威客经纪人</font></a>
                        <a href="http://user.680.com/pay/payout.aspx" target="_blank" rel="nofollow"><font color="#009900">提现</font></a>
                    </li>
                    <li style=" font-weight:bold; color:#06F;">其他服务</li>
                    <li>
                        <a href="http://www.680.com/task/gonglue/" target="_blank" title="威客攻略">威客攻略</a> 
                        <a href="http://disk.680.com" target="_blank" title="威客网盘">网盘</a> 
                        <a href="http://www.680.com/about/validate.html" target="_blank" title="验证官方客服真伪">查验真伪</a> <br>
                        <a href="http://news.680.com/" target="_blank" title="威客资讯">资讯</a> 
                        <a href="http://www.680.com/kaifa/" target="_blank" title="开发频道">技术开发</a>  
                        <a href="http://www.680.com/ziti/" title="字体设计" target="_blank">字体设计</a><br>
                        <a href="http://www.680.com/hyb/" target="_blank" title="威客回音壁"><font color="#0066FF">威客回音壁</font></a>
                        <a href="http://www.680.com/zhishi/" target="_blank" title="众包知识">众包知识</a>
                        <br>
                        <a href="http://ip.680.com/shangbiao/" target="_blank" title="商标注册"><font color="red">商标注册</font></a>
                        <a href="http://www.680.com/sitemap.html" target="_blank" title="威客网站地图"><font color="red">网站地图</font></a>
                        <a href="http://hao.680.com/" target="_blank" title="威客网站导航"><font color="red">威客导航</font></a>
                    </li>
                </ul>
                <div class="daohang"><a href="javascript:void(0);">网站导航</a><img id="d_arrow_1" src="images/2016/d_arrow_1.png" alt=""></div>
            </span>
        </div> 
        <div class="top_one">
			<a href="/user/login" class="blue" title="登录" style="position: relative; z-index: 2147483647;">登录</a>/
			<a href="/user/reg" target="_blank" class="red" title="威客注册">免费注册</a>
                &nbsp;<a href="/help" title="帮助中心" class="help" target="_blank">帮助中心</a>
        </div>
        <div class="clear"></div>
    </div>
</div>