<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>jpscloud 后台管理</title>
  <link rel="icon" href="${ctx.contextPath}/static/favicon.ico" type="image/x-icon">
  <script src="${ctx.contextPath}/static/jpscloud/rollbar.min.js"></script>
  <script src="${ctx.contextPath}/static/jpscloud/data-set.min.js"></script>
  <link href="${ctx.contextPath}/static/jpscloud/index.24582a21.css" rel="stylesheet">
</head>
<body>
	<div id="root"></div>
	<script type="text/javascript" src="${ctx.contextPath}/static/jpscloud/index.7938f6b9.js"></script>
</body>
</html>